@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #FFB800;
  --secondary-color: #FFD700;
  --accent-color: #FFF1C1;
  --yellow-glow: #FFFBEB;
  --yellow-dark: #CC9200;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

/* Custom styles */
.bg-yellow-glow {
  background-color: var(--yellow-glow);
}

.bg-primary {
  background-color: var(--primary-color);
}

.hover\:bg-yellow-dark:hover {
  background-color: var(--yellow-dark);
}

.hover\:bg-accent:hover {
  background-color: var(--accent-color);
}

.text-primary {
  color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.shadow-glow {
  box-shadow: 0 0 15px rgba(255, 184, 0, 0.2);
}

.shadow-glow-lg {
  box-shadow: 0 0 30px rgba(255, 184, 0, 0.25);
} 